.white-background{
    -fx-background-color: #fff;
}
.tranparent{
    -fx-background-color: rgba(0,0,0,0);
}
.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}
.selected{
    -fx-border-color: #F3F3F3;
}
.mouse-moved:hover{
    -fx-background-color: #E4E4E4;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0),10,0,0,10);
}
.button-style {
    -fx-background-color:#29D7E7 #77B5FE; /* Set background color */
    -fx-text-fill: white; /* Set text color */
    -fx-font-weight: bold; /* Set text bold */
    -fx-background-radius: 20; /* Set the radius for rounded corners */
}